.rounded img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
header, footer {
  background :blue;
  color: white;
  text-align: center;
  padding: 10px;
}
h1 {
  display:none;
}
nav {
  line-height:50px;
  background: #cccccc;
  height: 600px;
  width: 120px;
  float:left;
  padding: 5px;
}
section {
  width:330px;
  float: left;
  padding:15px;
}
button {
  height: 30px;
  width: 60px;
  border-radius: 10px;
  background: pink;
  color:purple;
}
#button-two {
  height: 30px;
  width: 60px;
  border-radius: 10px;
  background: pink;
  color:purple;
  background:red;
}
  button:hover, #button-two:hover {
    background:yellow;
  }
footer {
  clear:both;
}
a {
  color: green;
  text-decoration:none;
}
a:hover {
  color:yellow;
  font-size: 30px;
}
#pink{
  color:pink;
}
img {
  height: 200px;
  width:200px;
  display: none;
}
